.jumbotron {
    padding-top: 6rem;
    background-color: #C7F2A4;
}

#projects {
    background-color: #C7F2A4;
}

section {
    padding-top: 5rem;
}

footer {
    background-color: #C7F2A4;
    text-align: center;
}
